:root {
  --main-font: "Poppins", sans-serif;
  --main-background-color: #d5c4aa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
}
section {
  padding: 100px 50px 100px 50px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/croissants.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 190px 0;
}
header h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header h1 {
  text-align: center;

  font-weight: 900;
  font-size: 65px;
  color: #fff;
  line-height: 1.5;
}
header h3 {
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-weight: 100;
  font-size: 25px;
}

main {
  background-color: #fff;
}
.facts h2 {
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.facts {
  background-color: #f8f8f8;
}
.background {
  background: rgba(225, 221, 221, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}
.logo {
  max-width: 80px;
  filter: drop-shadow(0 0 20px #121212);
}
.logo:hover {
  transform: scale(1.5);
}

.gif {
  display: block;
  margin: 0 auto;
  width: 70%;
  box-shadow: var(--box-shadow);
}
.text {
  background-color: #dbd0c1;
  padding: 20px;
  border-radius: 10px;
  line-height: 20px;
}
.video {
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}
.signature {
  text-align: right;
  font-family: bitter;
  color: #000;
  margin-right: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  .signature {
    text-align: center;
  }
}
.header {
  margin-top: 100px;
}
.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 0px 20px;
  transition: all 200ms ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}
.contact-info {
  padding-bottom: 160px;
}
