:root {
  --main-font: "Poppins", sans-serif;
  --main-background-color: #d5c4aa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
}

section {
  padding: 100px 50px 100px 50px;
  margin: 0 auto;
}

.background {
  background: rgba(225, 221, 221, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}
.logo {
  max-width: 80px;
  filter: drop-shadow(0 0 20px #121212);
}
.logo:hover {
  transform: scale(1.5);
}

.gif {
  display: block;
  margin: 0 auto;
  width: 70%;
  box-shadow: var(--box-shadow);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/croissants.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 190px 0;
}
header h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}
header h1 {
  text-align: center;

  font-weight: 900;
  font-size: 65px;
  color: #fff;
  line-height: 1.5;
}
header h3 {
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-weight: 100;
  font-size: 25px;
}
.facts h2 {
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.facts {
  background-color: #f8f8f8;
}
.text {
  background-color: #dbd0c1;
  padding: 20px;
  border-radius: 10px;
  line-height: 20px;
}

.recipe {
  background-color: #fff;
}
.recipe h3 {
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.recipe .video {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.contact-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/contact-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact {
  margin-top: 50px;
  color: #fff;
}
.contact h1 {
  text-align: center;
  font-size: 55px;
}
.contact .icon {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 0px 20px;
  transition: all 200ms ease-in-out;
}
.icon:hover {
  transform: scale(1.5);
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}
.contact-info {
  padding-bottom: 160px;
}
footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

footer {
  color: #000;
  background-image: linear-gradient(
      rgba(213, 196, 170, 0.9),
      rgba(213, 196, 170, 0.9)
    ),
    url(images/footer\ pic.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer p {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer li {
  list-style: none;
  margin-left: -40px;
  line-height: 24px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer .links {
  color: #64462e;
  opacity: 30;
}
footer .links:hover {
  text-decoration: underline;
}
footer .icons {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 0 7px;
  transition: all 200ms ease-in-out;
}
footer .icons:hover {
  transform: scale(1.2);
}

@media (max-width: 960px) {
  footer .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  footer .grid p {
    font-size: 15px;
  }
  footer .grid li {
    font-size: 15px;
  }
  .recipe .video {
    width: 100%;
  }
  .contact-body {
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contact h1 {
    font-size: 27px;
  }
}
